body {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: repeat(8,1fr); 
}

.container {
    background-color: aqua;
    padding: 32px;
    border: 1px solid black;
}

#div-1 {
    grid-column: 1;
    grid-row: 1 / 3;
}

#div-2 {
    grid-column: 2;
    grid-row: 1/3;
}

#div-3 {
    grid-column: 1/4;
    grid-row: 3/5;
}

#div-6 {
    grid-column: 1/4;
    grid-row: 5/8;
}